
body{
  background-color: #c59245;
}
header{
  margin-bottom: 15px;
  border: 5px;
  border-style: dashed;
  border-color: black;
}
section{
  margin-bottom: 15px;
  border: 5px dashed black;
  font-size: 1vw;
}
h1, h2{
  color: crimson;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vw;
  padding: 1vw;

}
#saleTotals{
  margin-bottom: .75vw;
  border: .2vw dashed rgb(153, 0, 0);
}
h5{
position:relative;
left: 20px;
bottom: 20px;
color: crimson;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: .75vw;
}