
th, td, tfoot, tr {
  border: 2px solid black;
  font-size: 2vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
  margin-top: 50PX;
  background-color: rgb(255, 179, 0);
}
footer{
  background-color: #333;
}

.contact{
  display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-bottom: 10px;
 color: aliceblue;
}
.support{
  width: 200px;
}
.seattle{
  width: 200px;

}
.tokyo{
  width: 200px;
}
.dubai{
  width: 200px;
}
.paris{
  width: 200px;
}
.lima{
  width: 200px;
}